# Lists

Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    
 

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [2]:
l1 = [1,2.4,'ritika']

In [3]:
l1

[1, 2.4, 'ritika']

In [4]:
type(l1)

list

In [5]:
len(l1)

3

In [7]:
l1[0]= "Abhi"# mutability
l1

['Abhi', 2.4, 'ritika']

In [1]:
a1 = "hello"

In [2]:
a1[0]="m"

TypeError: 'str' object does not support item assignment

In [9]:
my_list

IndexError: list assignment index out of range

In [8]:
my_list

[19, 2, 3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [3]:
my_list = ['A string',23,100.2,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [4]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [8]:
my_list = ['one','two','three',4,5]

In [14]:
# Grab element at index 0
my_list[0:3:2]

['one', 'three']

In [16]:
# Grab index 1 and everything past it
my_list[1::-1]

['two', 'one']

In [30]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [3]:
l1 = [1,2,3,4]

In [4]:
l2 = l1 + ["10th March", "birthday", "goatrip"]

In [5]:
l2

[1, 2, 3, 4, '10th March', 'birthday', 'goatrip']

In [32]:
l2

[1, 2, 3, 4, '10th March', 'birthday', '10th March', 'birthday']

We can also use + to concatenate lists, just like we did for strings.

In [31]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [32]:
#my_list = my_list + ['new item']

In [33]:
my_list

['one', 'two', 'three', 4, 5]

Note: This doesn't actually change the original list!

In [12]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [13]:
# Reassign
my_list = my_list + ['add new item permanently']

In [14]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [15]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [16]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [17]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [18]:
# Append
list1.append('append me!')

In [19]:
list1

[1, 2, 3, 'append me!']

In [20]:
# Show
list1

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [21]:
# Pop off the 0 indexed item
list1.

SyntaxError: invalid syntax (<ipython-input-21-478e61c80320>, line 2)

In [22]:
# Show
list1

[1, 2, 3, 'append me!']

In [23]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [24]:
popped_item

'append me!'

In [25]:
# Show remaining list
list1

[1, 2, 3]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [22]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [44]:
new_list = ['a','e','x','b','c']

In [45]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [46]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [47]:
new_list

['c', 'b', 'x', 'e', 'a']

In [48]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [49]:
new_list.reverse()

In [50]:
new_list

['x', 'e', 'c', 'b', 'a']

# Mercer Training

 It started with data Structures.


 Lists are mutable

In [6]:
a = ["A","b",1,2,3]

In [9]:
a[1]= 22
a[3]= 99

In [10]:
a

['A', 22, 1, 99, 3]